{% extends "layout.html" %}

{% block body_content %}
<p>Welcome to this web app home page! *webhook working*</p>
{% for post in posts %}
    <h1>BLOB!</h1>
        <div>
            <h3>Post Title:<b>{{ post.title }}</b></h3>
            Author info: by <span><i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span>
            <span>on the <i>{{ post.date_posted }}</i></span>
            <p>Post Content: {{ post.content }}</p>
            <br>
            
        </div>
{% endfor %}

{% endblock %}
